# Flask
FLASK_ENV=development
SECRET_KEY=ganti-dengan-secret-random-panjang
PORT=5000

# Database
# SQLite local:
DATABASE_URL=sqlite:///persampahan.db
# MySQL contoh:
# DATABASE_URL=mysql+pymysql://root:password@localhost:3306/persampahan_db

# Upload
UPLOAD_FOLDER=uploads